@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@700;800;900&family=Plus+Jakarta+Sans:wght@400;700&family=Roboto:wght@500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@layer base {
  body {
    @apply bg-bgMain text-textDark antialiased;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  }
}
